.pm-chat-container {
  .panel-header-pm {
    touch-action: none;
    @media screen and (max-width: 767px) {
      .vkuiPanelHeader__fixed {
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 0px 2px 0px rgba(0, 0, 0, 0.03);
      }
      .vkuiSeparator {
        display: none !important;
      }
    }
  }

  .vkuiPanelHeader--android .vkuiPanelHeader__content > * {
    padding-left: 2px !important;
  }

  .vkuiFixedLayout,
  .vkuiWriteBar__form {
    touch-action: none;
  }

  .chat-name {
    letter-spacing: 0.1px;
    font-weight: 400 !important;
  }

  .was-online {
    letter-spacing: 0.2px;
  }
}
