.messages-container {
  display: flex;
  height: calc(
    var(--app-height) - var(--vkui--size_panel_header_height--regular) - 54px -
      var(--vkui_internal--safe_area_inset_bottom)
  );

  @media screen and (min-width: 768px) {
    height: calc(100vh - var(--vkui--size_panel_header_height--regular) - 52.5px - 16px);
    .vkuiGroup {
      padding: 0px 8px;
      border-end-start-radius: 0px !important;
      border-end-end-radius: 0px !important;
    }
  }

  .messages {
    width: 100%;
    height: inherit;
    max-height: inherit;
    padding: 0 !important;

    .table-messages {
      height: 100%;
      width: 100%;
      border-collapse: collapse;
    }

    .message-block {
      display: grid;
      margin: 8px;
      @media screen and (min-width: 768px) {
        margin: 12px;
      }
      .message {
        max-width: 80%;
        justify-self: flex-start;
        padding: 9px 12px;
        white-space: pre-wrap;
        overflow-wrap: anywhere;
        border-radius: 16px;
        background: var(--light-background-background, #ebedf0);
        color: var(--light-text-text-primary, #000);
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 123.077% */
        letter-spacing: -0.052px;
        box-sizing: border-box;
      }
      &.mine {
        .message {
          background: var(--light-background-background-accent-tint, #5a9eff);
          color: var(--light-text-text-contrast, #fff);
          justify-self: flex-end;
        }
      }
    }
  }
}
