.list-chats-container {
  .vkuiPanelHeader__in {
    padding: 0 10px 0 12px;
  }

  .fixed-layout {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 0px 2px 0px rgba(0, 0, 0, 0.03);
    background-color: #fff;
  }

  .list-chats {
    padding-top: 48px;
  }

  .vkuiPanelHeader__before {
    padding: 0 !important;
    flex-grow: 0 !important;
  }

  .vkuiPanelHeader__after {
    gap: 20px;
  }

  // нормальное отображение fixedLayout tabs на ПК
  @media screen and (min-width: 768px) {
    > .vkuiFixedLayout {
      top: 0 !important;
      margin-top: 16px !important;
      position: relative !important;
      border-start-start-radius: var(--vkui--size_border_radius_paper--regular);
      border-start-end-radius: var(--vkui--size_border_radius_paper--regular);
    }

    .vkuiTabsItem {
      cursor: pointer;
    }

    > .vkuiGroup {
      position: relative !important;
      border-start-start-radius: 0 !important;
      border-start-end-radius: 0 !important;
      .list-chats {
        padding-top: 0;
      }
    }
  }
}
