$margin: 16px;
$default: #818c99;
$active: #2688eb;

.header_title {
  text-align: center;
  padding-top: $margin !important;
}

.header {
  text-align: center;
  padding-top: $margin !important;

  h2 {
    margin-bottom: $margin;
  }

  > span {
    font-size: 15px;
  }
}

.card_container {
  margin: $margin - 4px 0 $margin + 8px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  aspect-ratio: 1.13;
  color: $default;
  transition: 0.3s color;

  > span {
    font-size: 13px;
    padding: 2px 12px;
    @media (max-width: 360px) {
      padding: 2px;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.selected {
  color: $active;

  &:after {
    border-color: $active !important;
    transition: 0.2s border-color;
  }
}

.button_group {
  position: sticky;
  bottom: 0;
  padding: 9px 16px !important;
  box-sizing: border-box;
  background: var(--vkui--color_background_content);
  @media (max-width: 767.9px) {
    padding: 0 var(--vkui--size_base_padding_horizontal--regular);
  }
}
